<html>
  <h1>stripe　sample</h1>
  <head>
    <title>stripe　sample</title>
      <script>
          function createCus() {
            var xhr = new XMLHttpRequest();
            xhr.open("post", "stripeCreateCus");
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            var mail = document.getElementById("email").value;
            xhr.send("email="+mail);
            xhr.onreadystatechange = function() {
              document.getElementById("customer").value = this.responseText;
            }
          }

          function invoice() {
            var xhr = new XMLHttpRequest();
            xhr.open("post", "invoice");
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.send("customer="+document.getElementById("customer").value);
            xhr.onreadystatechange = function() {
              
            }
          }
      </script>
  </head>
  <body>
      email:<input type="text" id="email">
      <input type="button" onclick="createCus();return false;" value="顧客・カード登録">
      <br>
      customer:<input type="text" id="customer">
      <br>
      <input type="button" onclick="invoice();return false;" value="請求">

  </body>
</html>