<html>
  <h1>ストライプ　課金</h1>
  <head>
      <script>
          function createCus() {
            // フォームの生成
            // var form = document.createElement("form");
            // form.setAttribute("action", "/stripeCreateCus");
            // form.setAttribute("method", "post");
            // form.style.display = "none";
            // document.body.appendChild(form);
            // // submit
            // form.submit();
            $.ajax({
            url: "/stripeCreateCus",
            type:'POST',
            data : { },
            timeout:3000,
        }).done(function(data) {
                          alert("ok");
        }).fail(function(XMLHttpRequest, textStatus, errorThrown) {
                         alert("error");
        })
          }

          function invoice() {
            // フォームの生成
            var form = document.createElement("form");
            form.setAttribute("action", "/invoice");
            form.setAttribute("method", "post");
            form.style.display = "none";
            document.body.appendChild(form);
            // submit
            form.submit();
          }
          </script>
  </head>
  <body>
      <input type="button" onclick="createCus();return false;" value="顧客・カード登録">
      <input type="button" onclick="invoice();return false;" value="請求">
    <table>
      <tr><td>customer:</td><td id="customer" ></td></tr>
    </table>
  </body>
 
</html>